<div class="row justify-content-start border-top">
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-hands-helping section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">EXPERIENCE.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-1 testiomonial-l"></div>
  <div class="col-1 testiomonial-g"></div>
  <div class="col-1 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col-sm col-10-lg col-xl-8 ex">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">Resume</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Resume</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          To fully understand the professional work environment, I was involved in
          four different organizations to gain the maximal and highly necessary
          experience for future challenges.
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-around mt-4">

      <div class="col-11 col-sm-5 p-4 mt-4 border">
        <h1 class="ex-date">2020-Present</h1>
        <h2 class="ex-role">IT Operation Specialist</h2>
        <p class="ex-work"><a href="https://group.bnpparibas/en/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> BNP Paribas</p>
        <p class="ex-achi">
          <span class="font-weight-bold">REPORTING</span> migrated over 500 users
          before the 6-month deadline at four locations.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">USER SUPPORT</span> up issue resolving process
          by creating a precise list of engineers and field experts for reaching
          the accurate person for the job.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">SaaS</span> special templet for users
          to report any possible future issue before Windows 10 migration.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">PROJECTS</span> special templet for users
          to report any possible future issue before Windows 10 migration.
        </p>
      </div>



      <div class="col-11 col-sm-5 p-4 mt-4 border">
        <h1 class="ex-date">2019-2020</h1>
        <h2 class="ex-role">Desktop Support Engineer</h2>
        <p class="ex-work"><a href="https://group.bnpparibas/en/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> BNP Paribas</p>
        <p class="ex-achi">
          <span class="font-weight-bold">Successfully</span> migrated over 500 users
          before the 6-month deadline at four locations.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Speed</span> up issue resolving process
          by creating a precise list of engineers and field experts for reaching
          the accurate person for the job.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Created</span> special templet for users
          to report any possible future issue before Windows 10 migration.
        </p>
      </div>

      <div class="col-11 col-sm-5 p-4 mt-4 border">
        <h1 class="ex-date">2016-2019</h1>
        <h2 class="ex-role">Merchandising Assistant</h2>
        <p class="ex-work"><a href="https://diesel.ie/" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> LEMAP Ltd, Innovation In Fashion</p>
        <p class="ex-achi">
          <span class="font-weight-bold">Construct</span> special new stock labels layout concept
          for faster replenishment process.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Present</span> to higher
           management and develop new email templates for more
           efficient and accurate communication with dependable suppliers.
        </p>
        <p class="ex-achi">
           <span class="font-weight-bold">Declared</span>
            the best employee of the year 2016 according to the online customer
            questionnaire.
        </p>
      </div>

      <div class="col-11 col-sm-5 p-4 mt-4 border">
        <h1 class="ex-date">2010-2016</h1>
        <h2 class="ex-role">Team Lead - Department of Activities</h2>
        <p class="ex-work"><a href="https://www.melia.com/en/home.htm" class="text-reset" target="_blank"><i class="fas fa-link"></i></a> Melia Hotels International</p>
        <p class="ex-achi">
          <span class="font-weight-bold">Implementing</span> a unique and advanced weekly schedule for team members with an impressive result of reduced
           cost by more than 15% on an annual basis.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Ranked</span> in the top 5% of employee performance for 3 years running.
        </p>
        <p class="ex-achi">
          <span class="font-weight-bold">Declared</span> the best employee of the season
           2014 according to the criteria of booking.com.
        </p>
      </div>
      
    </div>
    <div class="row justify-content-center mt-4 ">
      <div class="col-6 text-center">
        <form action ="downloads/Tomislav Sokac_CV.pdf" method="get">
          <button type="submit" class="face-btn">
            <div class="face-button">
          <div class="face-primary">
            <span class="icon fas fa-cloud"></span> Download
          </div>
          <div class="face-secondary">
            <span class="icon far fa-hdd"></span> Size: 30 kt
          </div>
          </div>
        </button>
        </form>
      </div>
    </div>
</div>
</div>
