<div class="row justify-content-start border-top">
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-tools section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">SKILLS.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
 <div class="col-1 testiomonial-l"></div>
 <div class="col-1 testiomonial-g"></div>
 <div class="col-1 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col-sm col-10-lg col-xl-8 skills">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">My skills</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Skills</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          Here you can find some of my
          <span class="font-weight-bold">TOP skill-set</span>
          arsenal, suited for most industries.<br>
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-around mt-4">
      <div class="col-sm-6 mb-4">
        <div class="row justify-content-start">
          <div class="col-12 text-center">
            <h1 class="sk-heding text-center m-0">DEVELOPMENT</h1>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>LANGUAGES</strong></h4>
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="sk-title"><strong>HTML</strong></a>
            <a href="https://en.wikipedia.org/wiki/CSS" target="_blank" class="sk-title"><strong>CSS</strong></a>
            <a href="https://sass-lang.com/" target="_blank" class="sk-title"><strong>SASS</strong></a>
            <a href="https://www.javascript.com/" target="_blank" class="sk-title"><strong>JavaScript</strong></a>
            <a href="https://www.python.org/" target="_blank" class="sk-title"><strong>Python</strong></a>
            <a href="https://en.wikipedia.org/wiki/SQL" target="_blank" class="sk-title"><strong>SQL</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>FRAMEWORKS</strong></h4>
            <a href="https://www.djangoproject.com/" target="_blank" class="sk-title"><strong>Django</strong></a>
            <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" class="sk-title"><strong>Flask</strong></a>
            <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank" class="sk-title"><strong>Bootstrap</strong></a>
            <a href="https://jasmine.github.io/" target="_blank" class="sk-title"><strong>Jasmine</strong></a>
            <a href="https://angularjs.org/" target="_blank" class="sk-title"><strong>Angular JS</strong></a>
            <a href="https://jquery.com/" target="_blank" class="sk-title"><strong>jQuery</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>APPLICATIONS</strong></h4>
            <a href="https://git-scm.com/" target="_blank" class="sk-title"><strong>Git CLI</strong></a>
            <a href="https://code.visualstudio.com/" target="_blank" class="sk-title"><strong>Visual Studio Code</strong></a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="sk-title"><strong>Visual Studio</strong></a>
            <a href="https://atom.io/" target="_blank" class="sk-title"><strong>Atom</strong></a>
            <a href="https://www.adobe.com/" target="_blank" class="sk-title"><strong>Photoshop</strong></a>
            <a href="https://balsamiq.com/" target="_blank" class="sk-title"><strong>Balsamiq</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>CLOUD</strong></h4>
            <a href="https://aws.amazon.com/s3/" target="_blank" class="sk-title"><strong>AWS S3</strong></a>
            <a href="https://azure.microsoft.com/en-us/overview/what-is-azure/" target="_blank" class="sk-title"><strong>Azure</strong></a>
            <a href="https://www.mongodb.com/" target="_blank" class="sk-title"><strong>MongoDB</strong></a>
            <a href="https://www.stripe.com/" target="_blank" class="sk-title"><strong>Stripe</strong></a>
            <a href="https://id.heroku.com/login" target="_blank" class="sk-title"><strong>Heroku</strong></a>
            <a href="https://www.atlassian.com/software/jira" target="_blank" class="sk-title"><strong>JIRA</strong></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">SUPPORT</h1>
        <div class="row justify-content-start">
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>APPLICATIONS</strong></h4>
            <a href="https://en.wikipedia.org/wiki/Active_Directory" target="_blank" class="sk-title"><strong>Active Directory</strong></a>
            <a href="https://en.wikipedia.org/wiki/Lansweeper" target="_blank" class="sk-title"><strong>Lansweeper</strong></a>
            <a href="https://www.veeam.com/" target="_blank" class="sk-title"><strong>Veeam B&R</strong></a>
            <a href="https://en.wikipedia.org/wiki/SAP" target="_blank" class="sk-title"><strong>SAP</strong></a>
            <a href="https://en.wikipedia.org/wiki/Microsoft_System_Center_Configuration_Manager" target="_blank" class="sk-title"><strong>SCCM</strong></a>
            <a href="https://en.wikipedia.org/wiki/PowerShell" target="_blank" class="sk-title"><strong>PowerShell</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>NETWORK</strong></h4>
            <a href="https://www.freshservice.com/" target="_blank" class="sk-title"><strong>Freshservice</strong></a>
            <a href="https://www.microsoft.com/en-ie/microsoft-teams/log-in" target="_blank" class="sk-title"><strong>Teams</strong></a>
            <a href="https://slack.com/intl/en-ie/" target="_blank" class="sk-title"><strong>Slack</strong></a>
            <a href="https://www.teamviewer.com/en/" target="_blank" class="sk-title"><strong>TeamViewer</strong></a>
            <a href="https://www.webex.com/" target="_blank" class="sk-title"><strong>Webex</strong></a>
            <a href="https://www.cisco.com/vpn/security" target="_blank" class="sk-title"><strong>AnyConnect</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>CLOUD</strong></h4>
            <a href="https://www.okta.com/" target="_blank" class="sk-title"><strong>OKTA</strong></a>
            <a href="https://www.office.com/" target="_blank" class="sk-title"><strong>O365 Admin Portal</strong></a>
            <a href="https://azure.microsoft.com/en-us/overview/what-is-azure/" target="_blank" class="sk-title"><strong>Azure</strong></a>
            <a href="https://www.mobileiron.com/en" target="_blank" class="sk-title"><strong>MobileIron</strong></a>
            <a href="https://www.vmware.com/" target="_blank" class="sk-title"><strong>VMware</strong></a>
            <a href="https://adminconsole.adobe.com/" target="_blank" class="sk-title"><strong>Adobe Admin</strong></a>
          </div>
          <div class="col-4 col-sm-6">
            <h4 class="sk-skills-sec"><strong>OS</strong></h4>
            <a href="https://en.wikipedia.org/wiki/Windows_11" target="_blank" class="sk-title"><strong>Windows 11</strong></a>
            <a href="https://en.wikipedia.org/wiki/Windows_10" target="_blank" class="sk-title"><strong>Windows 10</strong></a>
            <a href="https://www.android.com/intl/en_ie/" target="_blank" class="sk-title"><strong>Android</strong></a>
            <a href="https://en.wikipedia.org/wiki/Windows_Server_2019" target="_blank" class="sk-title"><strong>Win Server 2019</strong></a>
            <a href="https://en.wikipedia.org/wiki/Windows_Server_2012" target="_blank" class="sk-title"><strong>Win Server 2012</strong></a>
            <a href="https://en.wikipedia.org/wiki/IOS" target="_blank" class="sk-title"><strong>iOS</strong></a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">METHODOLOGIES</h1>
        <p class="sk-title">Responsive Design & Mobile-First Websites</p>
        <p class="sk-title">Object-Oriented Programming</p>
        <p class="sk-title">Performance Testing</p>
        <p class="sk-title">Load Testing & Debugging</p>
      </div>
      <div class="col-sm-6">
        <h1 class="sk-heding text-center m-0">INTERPERSONAL SKILLS</h1>
        <p class="sk-title">Can read between the lines to understand business needs.</p>
        <p class="sk-title">High CSAT</p>
        <p class="sk-title">High SLA</p>
        <p class="sk-title">Strong communicator</p>
      </div>
    </div>
  </div>
</div>